.env
*.DS_Store
*.log
__pycache__/
in_data/
logs/
openai-ip/
openai-op/
openai-op-small/
out_data/
sample_data/
src/__pycache__
src/main0.py
helpers/modelling.ipynb

# Jupyter Notebook
.ipynb_checkpoints